<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
  <servlet>
   <servlet-name>hessian_test</servlet-name>
   <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
    <init-param>
      <param-name>home-class</param-name>
      <param-value>com.royalgeoffrey.hessian.test.TestService</param-value>
    </init-param>
    <init-param>
      <param-name>home-api</param-name>
      <param-value>com.royalgeoffrey.hessian.test.ITestService</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <url-pattern>/hessian_test</url-pattern>
    <servlet-name>hessian_test</servlet-name>
  </servlet-mapping>
</web-app>